@import './style/variables';
@import './style/mixins/flex';
@import './style/partials/buttons';
@import './style/partials/colors';
@import './style/partials/text';
@import '~bootstrap/scss/bootstrap';
@include attr-x('flex', 'max-width', 'min-width', 'width');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  flex: 1;
  border: 1px solid $mat-500;
  border-radius: 4px;
  padding: 8px;
}
